<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStudentTestService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23235/StudentTestService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStudentTestService"
                contract="ServiceReference.IStudentTestService" name="WSHttpBinding_IStudentTestService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="StudentTestDBEntities" connectionString="metadata=res://*/StudentTestDataModel.csdl|res://*/StudentTestDataModel.ssdl|res://*/StudentTestDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIMALUPYAK\SQLEXPRESS;initial catalog=StudentTestDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>