USE [master]
GO
/****** Object:  Database [StudentTestDB]    Script Date: 8/11/2016 12:25:07 PM ******/
CREATE DATABASE [StudentTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentTestDB', FILENAME = N'd:\Programs\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StudentTestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentTestDB_log', FILENAME = N'd:\Programs\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\StudentTestDB_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentTestDB]
GO
/****** Object:  Table [dbo].[Accesses]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesses](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_Accesses1] PRIMARY KEY CLUSTERED 
(
	[AccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Answers]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NULL,
	[AnswerImage] [varbinary](max) NULL,
	[AnswerIsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionImage] [varbinary](max) NULL,
	[TestId] [int] NULL,
 CONSTRAINT [PK_Questions1] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResultAnswers]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultAnswers](
	[ResultId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Results]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[TestResultId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[CorrectCount] [int] NOT NULL,
	[SpentTime] [time](7) NOT NULL,
	[ResultDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[TestResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](200) NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tests]    Script Date: 8/11/2016 12:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](300) NOT NULL,
	[TestTime] [time](1) NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Accesses] ON 

INSERT [dbo].[Accesses] ([AccessId], [GroupId], [TestId]) VALUES (2, 1, 4)
INSERT [dbo].[Accesses] ([AccessId], [GroupId], [TestId]) VALUES (3, 2, 1)
INSERT [dbo].[Accesses] ([AccessId], [GroupId], [TestId]) VALUES (5, 1, 1)
SET IDENTITY_INSERT [dbo].[Accesses] OFF
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [AnswerImage], [AnswerIsCorrect]) VALUES (1, 1, N'враховує в основному цінність інформації, її корисність', NULL, 0)
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [AnswerImage], [AnswerIsCorrect]) VALUES (2, 1, N'оцінює інформацію з точки зору невизначеності, яка знімається після отримання інформації', NULL, 1)
INSERT [dbo].[Answers] ([AnswerId], [QuestionId], [AnswerText], [AnswerImage], [AnswerIsCorrect]) VALUES (4, 1, N'враховує структуру побудови окремих інформаційних масивів, при цьому за одиницю інформації приймаються певні елементарні одиниці – кванти, а кількість інформації визначається простим підрахунком квантів у масиві даних', NULL, 0)
SET IDENTITY_INSERT [dbo].[Answers] OFF
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (1, N'2СІ-12б')
INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (2, N'1СІ-12б')
INSERT [dbo].[Groups] ([GroupID], [GroupName]) VALUES (3, N'2АВ-12б')
SET IDENTITY_INSERT [dbo].[Groups] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [QuestionImage], [TestId]) VALUES (1, N'Статистична теорія…', NULL, 1)
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [QuestionImage], [TestId]) VALUES (3, N'Відомо, що кожне з т можливих повідомлень несе 4 біти інформації. Чому дорівнює т?', NULL, 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
INSERT [dbo].[ResultAnswers] ([ResultId], [QuestionId], [AnswerId]) VALUES (2, 1, 2)
INSERT [dbo].[ResultAnswers] ([ResultId], [QuestionId], [AnswerId]) VALUES (2, 2, 7)
INSERT [dbo].[ResultAnswers] ([ResultId], [QuestionId], [AnswerId]) VALUES (2, 3, 15)
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([TestResultId], [StudentId], [TestId], [CorrectCount], [SpentTime], [ResultDate]) VALUES (2, 1, 1, 3, CAST(0x07001A7118020000 AS Time), CAST(0x0000A64700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Results] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentName], [GroupID]) VALUES (1, N'Луп''як Дмитро', 1)
INSERT [dbo].[Students] ([StudentID], [StudentName], [GroupID]) VALUES (2, N'Величко Петро', 1)
INSERT [dbo].[Students] ([StudentID], [StudentName], [GroupID]) VALUES (3, N'Шевчук Віталій', 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestId], [TestName], [TestTime]) VALUES (1, N'ОЗПОІ - Колоквіум 1', CAST(0x0178690000000000 AS Time))
INSERT [dbo].[Tests] ([TestId], [TestName], [TestTime]) VALUES (4, N'ОЗПОІ - Колоквіум 2', CAST(0x0178690000000000 AS Time))
INSERT [dbo].[Tests] ([TestId], [TestName], [TestTime]) VALUES (18, N'ТАУ', CAST(0x0100000000000000 AS Time))
SET IDENTITY_INSERT [dbo].[Tests] OFF
ALTER TABLE [dbo].[Accesses]  WITH CHECK ADD  CONSTRAINT [FK_Accesses_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesses] CHECK CONSTRAINT [FK_Accesses_Groups]
GO
ALTER TABLE [dbo].[Accesses]  WITH CHECK ADD  CONSTRAINT [FK_Accesses_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesses] CHECK CONSTRAINT [FK_Accesses_Tests]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Tests]
GO
ALTER TABLE [dbo].[ResultAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ResultAnswers_Answers] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answers] ([AnswerId])
GO
ALTER TABLE [dbo].[ResultAnswers] CHECK CONSTRAINT [FK_ResultAnswers_Answers]
GO
ALTER TABLE [dbo].[ResultAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ResultAnswers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[ResultAnswers] CHECK CONSTRAINT [FK_ResultAnswers_Questions]
GO
ALTER TABLE [dbo].[ResultAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ResultAnswers_Results] FOREIGN KEY([ResultId])
REFERENCES [dbo].[Results] ([TestResultId])
GO
ALTER TABLE [dbo].[ResultAnswers] CHECK CONSTRAINT [FK_ResultAnswers_Results]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Students]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Tests] FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Tests]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Groups]
GO
USE [master]
GO
