<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StudentWpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
          <wsHttpBinding>
            <binding name="WSHttpBinding_IStudentTestService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
              <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
            </binding>
          </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23235/StudentTestService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStudentTestService" contract="ServiceReference.IStudentTestService" name="WSHttpBinding_IStudentTestService">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <StudentWpfClient.Properties.Settings>
            <setting name="ChosenAccent" serializeAs="String">
                <value>#00a20025</value>
            </setting>
            <setting name="ChosenFontSize" serializeAs="String">
                <value>Large</value>
            </setting>
        </StudentWpfClient.Properties.Settings>
    </userSettings>
</configuration>
